.display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    overflow: hidden;

}

.card p {

    font-weight: 600;
    font-size: large;
    margin: 8px;
}




.card button {
    background-color: #C7A200;
    font-weight: 900;
    width: 80px;
    font-weight: 500;
    margin: 8px;
    border: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 900;

}

.card button:hover {
    color: #C7A200;
    background-color: #F0F0F0;
    border: 1px solid #C74B50;
    font-weight: 900;

}